# Static config:
duniter4j.version=${project.version}
duniter4j.inceptionYear=${project.inceptionYear}
duniter4j.organizationName=${license.organizationName}


duniter4j.node.host=192.168.0.5
duniter4j.node.port=10901

duniter4j.node.elasticsearch.host=localhost
duniter4j.node.elasticsearch.port=9200
