#Basic config

# ----------------------------------------------------------
# Node to use for blockchain indexation. Must have a BMA API
# ----------------------------------------------------------

# Node host
#   Could be override using option : '-h <host>'
#duniter4j.node.host=metab.ucoin.io

# Node port
#   Could be override using option : '-p <port>'
#duniter4j.node.port=9201

# ----------------------------------------------------------
# ES Node
# ----------------------------------------------------------

# ES Cluster name
#   By default: 'duniter4j-elacticsearch'
#   See ES config 'cluster.name'
#duniter4j.elasticsearch.cluster.name=duniter4j-elacticsearch

# Should start a embedded ES node
#   By default: false
#duniter4j.elasticsearch.embedded.enable=true

# If not embedded: ES Node Host
#   Could be override using option : '-esh <host>'
#duniter4j.elasticsearch.host=192.168.0.5

# If not embedded: ES Node Port
#   Could be override using option : '-esp <port>'
#duniter4j.elasticsearch.port=9300

# If embedded: Only for a local use (do not connect to other nodes on cluster)
#   By default: false
#   See ES config 'local'
#duniter4j.elasticsearch.local=true

# If embedded: Open a port for HTTP access
#   By default: true
#   See ES config 'http.enable'
#duniter4j.elasticsearch.http.enable=false

