# --------------------------------------
# Duniter4j Client Configuration file
# --------------------------------------

#
# Duniter node
#
duniter4j.node.host=g1.duniter.org
duniter4j.node.port=10901

#
# Cesium+ node (aka Duniter4j-Elasticsearch)
#
duniter4j.node.elasticsearch.host=g1.data.duniter.fr
duniter4j.node.elasticsearch.port=443
